
:root {
    --SLATE: #434455;
    --NAVY-BLUE : #2E2F42;
    --WHITE : #FFFFFF;
    --hover-color : #404BBF;
    --IRIS:  #4D5AE5;
    --CLOUD: #F4F4FD;
    --hover-color-button : #404BBF;


}
/* main color */
.body {
    color: var(--SLATE);
    background: var(--WHITE);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    
}
.list {
    list-style: none;
}
/* logo color */
.logo {
    color: var(--IRIS);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase
    }
.link {
    text-decoration: none;
}
.logo span {
    color: var(--NAVY-BLUE)
} 
.logo:hover,
.logo span:hover {
    color: var(--hover-color);
}
/* site nav */
.site-nav .link {
    color: var(--NAVY-BLUE);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    text-decoration: none;
    font-style: normal
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-color);
}
/* .site-nav .link.current {
    color: var(--hover-color)
} */
/* address nav*/
.address-nav .link {
    color: var(--SLATE);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    font-style: normal
}
.address-nav .link:hover,
.link:focus {
    color: var(--hover-color);
}
/* section */
.section-title {
    color: var(--NAVY-BLUE);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    }
.section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main.section-title{
    color: var(--NAVY-BLUE);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.color{
    background-color: var(--WHITE);
}
.section.person {
    background: var(--CLOUD)}
/* hero title */
.hero {
    background-color: var(--NAVY-BLUE);
}    
.main .hero-title {
    color: var(--WHITE);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em
}
/* button */
.button.primary {
    color: var(--WHITE);
    background-color: var(--IRIS);
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
/* button */
.button.secondary{
    color: var(--IRIS);
    background-color: var(--CLOUD);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    cursor: pointer;
}
   
/* color hover button */
.hero .button.primary:hover,
.hero .button.primary:focus {
    background-color: var(--hover-color-button);
   
}
.list .button.secondary:hover,
.list .button.secondary:focus {
    background-color: var(--hover-color-button);
    color: var(--WHITE);
   
}
/* footer */

.footer {
    background-color: var(--NAVY-BLUE);
}
.footer .logo.color {
    color: var(--IRIS);
    text-decoration: none;
    background-color: var(--NAVY-BLUE);
}
.logo.color .span {
color: var(--CLOUD)
}
.logo.color:hover,
.logo.color > span:hover {
    color: var(--hover-color);
}
.footer .section-text {
    color: var(--CLOUD);
   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}